@import './base.css'; /* Import the base styles */

/* Default mobile-first styles */
#app {
  max-width: 100%; /* Full width on mobile */
  margin: 0 auto;
  font-weight: normal;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  box-sizing: border-box;
  background-color: var(--white);
}

/* Links and colors */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1); /* Green color for links */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 62%, 26%, 0.2); /* Subtle hover effect */
  }
}

.app-header {
  padding: 10px;
  background-color: var(--vibrant-purple);
  color: var(--peach-light-orange); /* Change to peach */
  border-bottom: 2px solid var(--light-gray);
  text-align: center;
  font-family: inherit; /* Inherit the global font */
}

.app-header h1 {
  margin: 0;
  font-size: 1.5rem; /* Default for mobile */
}

.app-header nav a {
  color: white; /* Change to peach */
  padding: 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.app-header nav a:hover {
  color: var(--peach-light-orange);
}

.app-header nav a.router-link-active {
  font-weight: bold;
  border-bottom: 2px solid var(--peach-light-orange);
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  /* Hide non-essential elements */

  footer,
  .dropdown-container,
  .filter-section,
  .status-update {
    display: none; /* Hides these elements */
  }

  /* Ensure the card container fills the viewport */
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align content */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    padding: 0 10px; /* Prevent content from touching edges */
  }

  /* Ensure the card is visible and stretches */
  .card {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack contents vertically */
    width: 100%; /* Full width */
    max-height: 90vh; /* Limit max height */
    flex-grow: 1; /* Allow card to grow and fill space */
    overflow: auto; /* Allow scrolling if content exceeds height */
    margin: 0; /* Reset margin if needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Optional: Adjust shadow for visibility */
  }

  /* Style for navigation buttons */
  .nav-arrow {
    display: block; /* Show navigation buttons */
    font-size: 3rem; /* Increase size for touch targets */
    padding: 10px; /* Padding for better touch area */
  }
}
