@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 62%, 26%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

:root {
  --vibrant-purple: #6a1cc3;
  --lavender: #b691dd;
  --thistle: #e4d2f9;
  --fandango: #b64793;
  --blush: #db5b7a;
  --bittersweet: #ff6f61;
  --peach-light-orange: #fdba74;
  --champagne: #fde7ce;
  --antique-white: #fdf0e0;
  --white: #ffffff;
  --very-dark-gray: #111827;
  --charcoal-gray: #303030;
  --light-gray: #e5e7eb;
  --pale-purple: #eae0f7;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white); /* Optional: Default background */
}

/* New Header and Nav Styles */
.app-header {
  padding: 10px;
  background-color: var(--vibrant-purple);
  color: var(--white);
  border-bottom: 2px solid var(--light-gray);
  text-align: center;
  font-family: inherit; /* Inherit the global font */
}

.app-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.app-header nav a {
  color: var(--white);
  padding: 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.app-header nav a:hover {
  color: var(--peach-light-orange);
}

.app-header nav a.router-link-active {
  font-weight: bold;
  border-bottom: 2px solid var(--peach-light-orange); /* To indicate active page */
}
